body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Background color for all pages */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

nav a:hover {
    background-color: #555;
}

.container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
